<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('header') %> 
    
    <div class="container" id="containerH1">
      <div class="row">
        <h3 class="col-4 offset-3">One-way ticket :</h3>
        </div>

      <div class="row">
        <div class="col-8 offset-2">
          <form action="/search" method="POST">
            <div class="input-group mb-3">
              <input name="from" type="text" class="form-control" placeholder="From: Paris, Marseille ..."
                aria-label="new city name" >
              <div style="margin-left: 15px;"></div>
                <input name="To" type="text" class="form-control" placeholder="To: Lyon, Metz..."
                aria-label="new city name">
                <div style="margin-left: 15px;"></div>
                <input name="date" type="date" class="form-control">
              <div class="input-group-append" style="margin-left: 15px;">
                <button class="btn btn-danger" type="submit" id="button-addon2">GO</button>
              </div>
            </div>
          </form>
          
        </div>
        
      </div>
    </nav>

    <img class="col-6 offset-3" src="/images/landmark.png">

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  </body>
</html>
