body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5cc4d9, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a {
  color: #00B7FF;
}

#navco {
  color: rgb(209, 23, 23);
}

.navbar {
  padding-bottom: 15px;
}