body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5cc4d9, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow-y: hidden !important;
}

a {
  color: #00B7FF;
}

#navco {
  color: rgb(209, 23, 23);
}

.navbar {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 3%;
}

h3 {
  color: whitesmoke;
}

#tableau {
  margin-bottom: 3%;
  opacity: 90%;
}
#checkout {
  color: whitesmoke;
  background-color: #fed330;
  border-color: #fed330;
}
.sign-top{
  margin-top: 100px;
}

.sign-bottom{
  margin-bottom: 20px;
}

.nav-link {
  font-size: medium;
}

.departure {
  color: rgb(136, 135, 135, 0.8);
}

.price {
  font-size: large;
}

.from_to {
  font-size: large;
}

#walk {
  height: 10%;
  width: auto;
}

#hacker {
  height: 20%;
  width: auto;
}

<<<<<<< HEAD
.trip {
  margin-bottom: 20px;
}
=======
>>>>>>> 002ceaaa75b9046f9ac6d261370c1f63ecc8406b
